@model IEnumerable<CarRental.Dtos.CarForListsDto>
@{
    ViewData["Title"] = "Index";
}

<h1>Samochody</h1>

<div class="container-fluid">
    <div class="container">
        @foreach (var car in Model)
        {
                <div>
                    <div class="card">
                        <h5 class="card-header text-center">@car.Brand @car.Model</h5>
                        <div class="card-body" style="display: flex;">
                        <img class="card-img-top mr-5 col-md-6 pull-left rounded border border-secondary" style="width: 50%" src="@car.PhotoUrl" alt="">
                        <div class="col-md-6">
                            <h5 class="card-title">Pojemność silnika: @car.Engine L</h5>
                            <h5 class="card-title">Moc silnika: @car.HorsePower km</h5>
                            <h5 class="card-title">Skrzynia biegów: @car.Gear</h5>
                            <h5 class="card-title">Rok produkcji: @car.Year r</h5>
                            <h5 class="card-title">Przyspieszenie (0-100km/h): @car.Acceleration s</h5>
                            <h4 class="card-title">Cena za dobę bez limitu kilmetrów: @car.Price zł </h4>
                            <a href="cars/@car.Id" class="btn btn-primary mt-3">Zarezerwuj!</a>
                        </div>
                        </div>
                    </div>
                </div>
        }
    </div>
</div>